.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    order:1;
    
}



#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    border-right: solid;
    border-right-color: blue;
    border-right-width: 1px;
    background-color: ghostwhite;
    
}

#sidebar.active {
    margin-left: -250px;
}

.page-content{
    order:2;
}

#sidebar-toggler{
    background-color: darkblue;
    color:white;
    position: fixed;
    margin-top: 16em;
    padding: .2rem;
    opacity: .8;
    -webkit-transform: rotate(
-90deg
) translate(-100%, 0);
    -moz-transform: rotate(-90deg) translate(-100%, 0);
    -o-transform: rotate(-90deg) translate(-100%, 0);
    -ms-transform: rotate(-90deg) translate(-100%, 0);
    transform: rotate(
-90deg
) translate(-100%, 0);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    transform-origin: top left;
    z-index: 2;
}


#sidebar2{
    display: none;
    min-width: 250px;
    max-width: 250px;
    min-height: 400px; 
    /*
    min-height: 100vh; */
    /* position:fixed; */
    position:fixed;
    background-color: lightgray;
    z-index: 1;
    border-right: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    border-top: 2px solid darkblue;
    border-radius: 3px;
    opacity: 95%;
    padding-left:1em;
}
sidebar2 > a{
    color:white;
}

/*Since the footer is sticky and a higher index give plenty of margin to the bottom so the Next/Previous buttons have room */
.training-body {
    margin-bottom: 10em;
}
@media only screen and (max-width: 600px) {
    .training-body {
       padding-left: 1.5em;
    }
 }

 .back-next-container{
 margin-top: 4em;
 }

/* this wont work because if the content of the page is below view port it hovers over it
 .back-next-container{
    position: absolute;
    bottom: 30px;
    border: 3px solid #8AC007;
 }
 */