.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40 ;
    color: white;
    text-align: center;
  }

  .debugit {
    border: solid;
    border-width: 3px;
    border-color: deeppink;
       
    
}